/**BODY**/

:root {
	--background: rgba(2, 87, 122, .85);
}

*, *::before, *::after {
	box-sizing: border-box;
}

body{
	margin: 0;
	background: #02577aff;
	font-family: 'Muli', sans-serif;
}
/**END BODY**/

/**HEADER**/

header {
	position: fixed;
	background: var(--background);
	text-align: center;
	z-index: 999;
	width: 100%;
	border-bottom: 2px solid black;
}

.logo a{
	width: 200px;
	height: 200px;
	margin: auto;
	display: block;
	background:url('../images/BotsIA-main-logo-darker-blue.png');	
	background-size: contain;
}

.nav-toggle {
	display: none;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	right: 30px;
	margin-left: 1em;
	margin-top: 8em;
	height: 25%;
	display: flex;
	align-items: center;

}

.nav-toggle-label:hover {
	cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: white;
	height: 10px;
	width: 5em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before{
	bottom: 20px;
}

.nav-toggle-label span::after{
	top: 20px;
}

nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background: var(--background);
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	margin-bottom: 6em;
	margin-left: 1em;
}

nav a {
	color: #ffffff;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}

nav a:hover {
	color: #000000;
}

.nav-toggle:checked ~ nav {
	transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 150ms ease-in-out;
}


.esp{
	display: none;
}

.eng{
	display: none;
}

.language-sel{
	position: relative;
	text-align: center;
	margin-bottom: 2em;
	margin-top: 2em;
}

.esplabel img{
	cursor: pointer;
	width: 80px;
	height: 80px;
	margin-right: 15px;
}

.englabel img{
	cursor: pointer;
	width: 80px;
	height: 80px;
	margin-left: 15px;
}


/**END HEADER**/

/**MAIN PAGE**/

.main-page{
	position: absolute;
	background: #02577aff;
	margin-top: 200px;
}

.main-page p{

	font-size: 4em;
}
/**END MAIN PAGE**/


/********** Extra Large devices only **********/
@media (min-width: 1200px) {
	/**HEADER**/
	.nav-toggle-label {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 1fr);
	}

	.logo {
		grid-column: 2 / 1;
		position: relative;
	}

	.logo a{
		width: 200px;
		height: 200px;
		margin: auto;
		/*background:url('../images/BotsIA-main-logo-border-darker-blue.png');
		background-size: contain;*/
	}
	.blue-bar {
		position: fixed;
		content: '';
		display: block;
		background: var(--background);
		left: 0;
		right: 0;
		height: 100px;
		top:2.9em;
		border-top: 3px solid black;
		border-bottom: 3px solid black;
	}

	nav div {
	}

	nav {
		all: unset;
		grid-column: 3 / 4 ;
		display: flex;
		justify-content: flex-end;
		margin: auto;
	}

	nav a {
		opacity: 1;
		position: relative;
	}

	nav ul {
		display: flex;
		justify-content: flex-end;
	}

	nav li {
		margin-bottom: 1em;
	}

	nav a::after {
		content: '';
		display: block;
		height: 5px;
		background: #000000;
		position: absolute;
		top: 1.2em;
		left: 0;
		right: 0;
		border-radius: 1px;
		transform: scale(0, 1);
		transform-origin: left;
		transition: transform ease-in-out 250ms;
	}

	nav a:hover::after {
		transform: scale(1, 1);
	}

	.nav-toggle:checked ~ nav div{
		top: -60px;
	}

	.language-sel{
		all: unset;
		position: absolute;
		top: 20px;
	}

	.esplabel img{
		cursor: pointer;
		width: 30px;
		height: 30px;
		margin-right: auto;
	}

	.englabel img{
		cursor: pointer;
		width: 30px;
		height: 30px;
		margin-left: auto;
	}

	/**END HEADER**/
}


/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	/**HEADER**/
	.nav-toggle-label {
		display: none;
	}
	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 1fr);
		background: #fff;
	}

	.logo a{
		width: 200px;
		height: 200px;
		margin: auto;
		background:url('../images/BotsIA-main-logo-border-darker-blue.png');
		background-size: contain;
	}

	.blue-bar {
		content: '';
		display: block;
		background: var(--background);
		position: absolute;
		left: 0;
		right: 0;
		height: 100px;
		top:2.9em;
		border-top: 3px solid black;
		border-bottom: 3px solid black;
	}

	.logo {
		grid-column: 2 / 1;
		position: relative;
	}

	nav {
		all: unset;
		grid-column: 3 / 4 ;
		display: flex;
		justify-content: flex-end;
		margin: auto;
	}

	nav a {
		opacity: 1;
		position: relative;
	}

	nav ul {
		display: flex;
		justify-content: flex-end;

	}

	nav li {
		margin-bottom: 1em;
	}


	nav a::after {
		content: '';
		display: block;
		height: 5px;
		background: #000000;
		position: absolute;
		top: 1.2em;
		left: 0;
		right: 0;
		border-radius: 1px;
		transform: scale(0, 1);
		transform-origin: left;
		transition: transform ease-in-out 250ms;
	}

	nav a:hover::after {
		transform: scale(1, 1);
	}

	.nav-toggle:checked ~ nav div{
		top: -60px;
	}

	.language-sel{
		all: unset;
		position: absolute;
		top: 20px;
	}

	.esplabel img{
		cursor: pointer;
		width: 30px;
		height: 30px;
		margin-right: auto;
	}

	.englabel img{
		cursor: pointer;
		width: 30px;
		height: 30px;
		margin-left: auto;
	}

	/**END HEADER**/
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	/**HEADER**/
	.logo a{
		width: 300px;
		height: 300px;
	}

	nav ul {
		clear: both;
		text-align: center;
	}

	nav a {
		font-size: 2em;
		transition: background 0.5s ease;
	}

	nav a:hover {
		color: #000;
	}

	nav a::after {
		content: '';
		display: block;
		background: #000;
		height: 5px;
		position: absolute;
		left: 0;
		right: 0;
		margin: 25px 30px 5px 30px;
		margin-bottom: 5px;
		transition: background 0.5s ease;
	}

	nav a:hover::after {
		background: #fff;
	}
	/**END HEADER**/
}


/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {
	/**HEADER**/
	nav ul {
		text-align: center;
	}

	nav a {
		font-size: 3em;
		transition: background 0.5s ease;
	}

	nav a:hover {
		color: #000;
	}

	nav a::after {
		content: '';
		display: block;
		background: #000;
		height: 5px;
		position: absolute;
		left: 0;
		right: 0;
		margin: 25px 30px 5px 30px;
		transition: background 0.5s ease;
	}

	nav a:hover::after {
		background: #fff;
	}
	/**END HEADER**/
}

/********** Extra Small devices only **********/
@media (max-width: 575px) {
	/**HEADER**/

	.nav-toggle-label {
		right: 45px;
	}

	nav ul {
		text-align: center;
	}

	nav a {
		font-size: 3.5em;
		transition: background 0.5s ease;
	}

	nav a:hover {
		color: #000;
	}

	nav a::after {
		content: '';
		display: block;
		background: #000;
		height: 5px;
		position: absolute;
		left: 0;
		right: 0;
		margin: 25px 30px 5px 30px;
		transition: background 0.5s ease;
	}

	nav a:hover::after {
		background: #fff;
	}
	/**END HEADER**/
}