/**BODY**/

:root {
	--background: rgba(0, 204, 255, .85);
}

*, *::before, *::after {
	box-sizing: border-box;
}

body{
	margin: 0;
	background: #ffffff;
	font-family: 'Muli', sans-serif;
	background: url(../images/kuka-wallpaper.jpg);
	background-repeat: no-repeat;
	object-fit: cover;
}
/**END BODY**/

/**HEADER**/

header {
	background: var(--background);
	text-align: center;
	position: fixed;
	z-index: 999;
	width: 100%;
}

h1 img {
	width: 150px;
	height: 150px;
}

.nav-toggle {
	display: none;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	right: 30px;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;

}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: white;
	height: 10px;
	width: 5em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before{
	bottom: 20px;
}

.nav-toggle-label span::after{
	top: 20px;
}

nav {
	position: absolute;
	text-align: left;
	top: 100%
	left: 0;
	background: var(--background);
	width: 100%;
	/*display: none;*/
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	color: #ffffff;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 150ms ease-in-out;

}

nav a:hover {
	color: #000000;
}

.nav-toggle:checked ~ nav {
	transform: scale(1, 1);
	/*display: block;*/
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 150ms ease-in-out;
}


/**END HEADER**/


/********** Extra Large devices only **********/
@media (min-width: 1200px) {
	/**HEADER**/
	.nav-toggle-label {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 1fr);
	}

	.logo {
		grid-column: 2 / 1;
	}

	nav {
		all: unset;
		grid-column: 3 / 4 ;
		display: flex;
		justify-content: flex-end;
		margin: auto;
	}

	nav a {
		opacity: 1;
		position: relative;
	}

	nav ul {
		display: flex;
		justify-content: flex-end;
	}

	nav a::after {
		content: '';
		display: block;
		height: 5px;
		background: #000000;
		position: absolute;
		top: 1.2em;
		left: 0;
		right: 0;
		border-radius: 1px;
		transform: scale(0, 1);
		transform-origin: left;
		transition: transform ease-in-out 250ms;
	}

	nav a:hover::after {
		transform: scale(1, 1);
	}
	/**END HEADER**/
}


/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	/**HEADER**/
	.nav-toggle-label {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 1fr);
	}

	.logo {
		grid-column: 2 / 1;
	}

	nav {
		all: unset;
		grid-column: 3 / 4 ;
		display: flex;
		justify-content: flex-end;
		margin: auto;
	}

	nav a {
		opacity: 1;
		position: relative;
	}

	nav ul {
		display: flex;
		justify-content: flex-end;

	}

	nav a::after {
		content: '';
		display: block;
		height: 5px;
		background: #000000;
		position: absolute;
		top: 1.2em;
		left: 0;
		right: 0;
		border-radius: 1px;
		transform: scale(0, 1);
		transform-origin: left;
		transition: transform ease-in-out 250ms;
	}

	nav a:hover::after {
		transform: scale(1, 1);
	}
	/**END HEADER**/
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	/**HEADER**/
	h1 img {
	width: 300px;
	height: 300px;
	}

	nav ul {
		text-align: center;
	}

	nav a {
		font-size: 3em;
	}
	/**END HEADER**/
}


/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {
	/**HEADER**/
	h1 img {
	width: 300px;
	height: 300px;
	}

	nav ul {
		text-align: center;
	}

	nav a {
		font-size: 3em;
	}
	/**END HEADER**/
}

/********** Extra Small devices only **********/
@media (max-width: 575px) {
	/**HEADER**/
	h1 img {
	width: 300px;
	height: 300px;
	}

	nav ul {
		text-align: center;
	}

	nav a {
		font-size: 3em;
	}
	/**END HEADER**/
}